@model IEnumerable<Domain.Member>
@{
    //var totalRecordCount = Model.FirstOrDefault()?.TotalRecordsCount ?? 0;
}
@foreach (var member in Model)
{
    <tr>
        <th>@member.Seq</th>
        <td>@member.MemberCode</td>
        <td>@member.FullNameKanji</td>
        <td>@member.FullNameKana</td>
        <td>@member.FullName</td>
        <td>@member.MailAddress</td>
        <td>@member.JoinedDate</td>
    </tr>
}
